@model AvoidsCommunication.Domain.ViewModel.Rambling.RamblingViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = @Model.Name;
    Layout = "_Layout";
}

<h2>@Model.Name</h2>

<p>@Model.Content</p>

<p class="text-muted">@Model.UserName @Model.CreatedDate</p>

<b>Комментарии</b>

<form>
    <textarea class="form-control"></textarea>
    <button class="btn btn btn-dark mt-3 mb-5">Оставить комментарий</button>
</form>

@foreach(var comment in @Model.Comments )
{
    <h5>@comment.User.Name</h5>
    <p>@comment.CommentText</p>
    <p class="text-muted">@comment.CreatedDate</p>
}


